*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

.dark {
  background-color: #121212;
  color: #f5f5f5;
  transition: all 0.3s ease;
}

.dark .dark-mode {
  display: none;
}

.light {
  background-color: #f5f5f5;
  color: #121212;
  transition: all 0.3s ease;
}

.light .light-mode {
  display: none;
}

.navbar {
  height: 70px;
  padding: 20px;
  color: #ffffff;
  background-color: #4f46e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggle {
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.container {
  margin: 80px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.dark .container {
  background-color: #1e1e1e;
  border-radius: 12px;
}

.light .container {
  border-radius: 12px;
  background-color: #f8fafc;
}

.userInput {
  display: flex;
  flex-direction: column;
}

.currBalance {
  font-size: 60px;
  font-weight: 700;
  color: #23c552;
  /* color: #F84F31; */
}

.entries {
  padding: 20px 20px;
  outline: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
}

.inputs {
  display: flex;
  gap: 15px;
}

.desc {
  padding: 10px 20px;
  border: none;
  outline: 1px solid black;
  border-radius: 10px;
}

.desc:focus {
  outline: 2px solid blue;
}

.amount {
  padding: 10px 20px;
  border: none;
  outline: 1px solid black;
  border-radius: 10px;
}

.amount:focus {
  outline: 2px solid blue;
}

.datetime {
  padding: 10px 20px;
  border: none;
  outline: 1px solid black;
  border-radius: 10px;
}

.datetime:focus {
  outline: 2px solid blue;
}

.type {
  margin-right: 10px;
  padding: 6px;
  border: none;
  outline: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.type:focus {
  outline: 2px solid blue;
}

.category {
  margin-right: 10px;
  padding: 6px;
  border: none;
  outline: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.category:focus {
  outline: 2px solid blue;
}

.addBtn {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: rgb(47, 47, 255);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addBtn:hover {
  background-color: blue;
  transform: translateY(-2px);
}

.export {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: rgb(15, 218, 8);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.export:hover {
  background-color: rgb(16, 185, 24);
  transform: translateY(-2px);
}

.import {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 13, 85);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.import:hover {
  background-color: rgb(216, 10, 72);
  transform: translateY(-2px);
}

.total {
  margin: 30px 0;
}

.totalInOut {
  font-size: 22px;
  font-weight: 500;
}

.income {
  font-size: 22px;
  font-weight: 500;
  color: #23c552;
}
.expense {
  font-size: 22px;
  font-weight: 500;
  color: #f84f31;
}

.makeFlex {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.data {
  font-size: 24px;
  font-weight: 600;
}

.search {
  position: relative;
}
.search input {
  padding: 10px 15px 10px 40px;
  border: none;
  outline: 1px solid black;
  border-radius: 10px;
}

.search input:focus {
  outline: 2px solid blue;
}

.search::before {
  content: "";
  cursor: pointer;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("assets/search.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.find_filter {
  display: flex;
  gap: 15px;
}

.filter {
  margin-right: 10px;
  padding: 6px;
  border: none;
  outline: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.filter:focus {
  outline: 2px solid blue;
}

.noData {
  font-size: 20px;
  margin: 60px 0px 30px 0px;
  display: flex;
  justify-content: center;
}

.transactions {
  position: relative;
  margin-top: 20px;
  padding: 20px 20px;
  display: none;
}

.transactions-header {
  border: 1px solid black;
  position: sticky;
  top: 0;
  background-color: #1e293b;
  color: #ffffff;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.transaction-list {
  border: 1px solid black;
  margin-top: 10px;
  padding: 20px 20px;
}

.transaction {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.light .transaction:nth-child(even) {
  background: rgba(0, 0, 0, 0.03);
}

.dark .transaction:nth-child(even) {
  background: rgba(255, 255, 255, 0.03);
}

.light .transaction:hover {
  transition: background-color 0.3s ease;
  background-color: #e1d6c438;
}

.dark .transaction:hover {
  transition: background-color 0.3s ease;
  background-color: #1e293b;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.actions .edit,
.delete {
  cursor: pointer;
}

.actions div {
  transition: all 0.3s ease;
}
.actions div:hover {
  transform: translateY(-10%);
}

/* MEDIA QUERIES: */

@media screen and (max-width: 768px) {
  .container {
    margin: 24px;
    padding: 24px;
  }

  .inputs {
    flex-direction: column;
  }

  .inputs > * {
    width: 100%;
  }

  .dropdowns {
    display: flex;
    flex-direction: column;
  }

  .addInOut {
    display: flex;
    flex-direction: column;
  }

  .makeFlex {
    flex-direction: column;
  }

  .find_filter {
    flex-direction: column;
  }

  .rwd_filter {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .transactions {
    padding: 0;
  }

  .transaction {
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 10px;
  }
}

/* Transaction Adding/Deleting transitions */
/* Here it will not work because in my case i have re-rendered the whole list after deleting or adding a new transaction every time. But, it would have worked for me if it was me appending or removing an element from the array. Ok for this project and bye... */
/* .transactionIn {
  animation: fadeInSlide 0.3s ease-in forwards;
}

.transactionOut {
  animation: fadeOutSlide 0.3s ease-out forwards;
}

@keyframes fadeInSlide {
  to {
    opacity: 0;
    transform: translateY(20px);
  }
  from {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
} */
